{% extends 'base.html' %} {% block content %}
<div class="row">
    {% if user.digimon.count >= 6 %}
    <div class="col s12">
        <div class="card-panel yellow lighten-4">
            <span class="black-text">You already have 6 Digimon on your digifarm! That's the maximum allowed.</span>
        </div>
    </div>
    {% endif %}
    {% for digimon in digifarm %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{ digimon.img }}" alt="{{ digimon.name }}" />
        </div>
        <div class="card-content">
          <span class="card-title">{{ digimon.name }}</span>
          <p>Level: {{ digimon.level }}</p>
          {% if digimon.happiness %}
          <p>Happiness: {{ digimon.happiness }}</p>
          {% endif %}
          {% if request.user == user %}
          <form
          action="{% url 'remove-digimon' user.id digimon.id %}"
          method="post"
            class="subsection-content"
            autocomplete="off"
          >
            {% csrf_token %} 
            <button type="submit" class="btn submit">Remove Digimon</button>
          </form>
          {% endif %}
          <div class="toys-section">
            <h6>Power Ups Given:</h6>
            {% if digimon.given_toys %}
              <ul class="collection">
                {% for toy in digimon.given_toys %}
                  <li class="collection-item">
                    <div class="toy-item">
                      <div class="color-block" style="background-color: {{ toy.color }}; width: 20px; height: 20px; display: inline-block; margin-right: 10px;"></div>
                      {{ toy.name }}
                    </div>
                    {% if request.user == user %}
                    <form action="{% url 'remove-toy' digimon.id toy.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn-small red">Remove Toy</button>
                     </form>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No Power Ups yet!</p>
            {% endif %}
          </div>
          {% if request.user == user %}
          
            <div class="input-field">
              <h3>Available Power Ups</h3>
              <div class="subsection-content">
              {% for toy in toys %}
              {% if toy not in digimon.given_toys %}
                <div class="toy-container">
                <div
                class="color-block"
                style="background-color: {{ toy.color }}"
                ></div>
                <p>{{ toy.color }} {{ toy.name }}</p>
                {% else %}
                {% endif%}
                {% if toy not in digimon.given_toys %}
                <form action="{% url 'associate-toy' digimon.id toy.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn submit">Give Toy</button>
                </form>
                {% endif %}
                {% comment %} <form action="{% url 'remove-toy' digimon.id toy.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn-small red">Remove Toy</button>
                  </form> {% endcomment %}
                  {% endfor %}
                  <a href="{% url 'toy-create' %}"><button>Create a Toy</button></a>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% empty %}
    <h3>No Digimon have been added yet!</h3>
    {% endfor %}
  </div>
{% endblock %}

