{% extends 'base.html' %} 
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/digimon/digifarm.css' %}" />
{% endblock %}

{% block content %}

<h1>My DigiFarm</h1>

{% if user.digimon.count >= 6 %}
<div class="card-panel yellow lighten-4">
    <span class="black-text">You already have 6 Digimon on your digifarm! That's the maximum allowed.</span>
</div>
{% endif %}

<div class="row">
  {% for digimon in digifarm %}
  <div>
    <div class="card">
      <div class="card-image">
        <img src="{{ digimon.img }}" alt="{{ digimon.name }}" />
      </div>
      <div class="card-content">
        <span class="card-title">{{ digimon.name }}</span>
        <p>Level: {{ digimon.level }}</p>
        {% if digimon.happiness %}
        <p>Happiness: {{ digimon.happiness }}</p>
        {% endif %}
        
       

        <div class="toys-section">
          <h3>Power Ups:</h3>
          {% if digimon.given_toys %}
            <div class="collection">
              {% for toy in digimon.given_toys %}
                <div class="collection-item">
                  <div class="toy-item">
                    <div class="color-block" style="background-color: {{ toy.color }}"></div>
                    <span style="font-size: 15px">{{ toy.name }}</span>
                    {% if request.user == user %}
                    <form action="{% url 'remove-toy' digimon.id toy.id %}" method="post" class="inline-form">
                      {% csrf_token %}
                      <button type="submit" class="btn-remove-power">Remove Power Up</button>
                    </form>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>No Power Ups yet!</p>
          {% endif %}

          {% if request.user == user %}
          <div class="available-toys">
            <h3>Available Power Ups:</h3>
            <div class="toy-grid">
              {% for toy in toys %}
                {% if toy not in digimon.given_toys %}
                  <div class="toy-item">
                    <div class="color-block" style="background-color: {{ toy.color }}"></div>
                    <span style="font-size: 15px">{{ toy.name }}</span>
                    <form action="{% url 'associate-toy' digimon.id toy.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn submit">Give Power Up</button>
                    </form>
                    <a href="{% url 'toy-detail' toy.id %}"><button type="" class="btn-edit">Edit Power Up</button></a>

                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="create-toy-btn">
              <a href="{% url 'toy-create' %}" class="btn">Create Power Up</a>
            </div>

           
          </div>
          {% endif %}
         
        </div>
        {% if request.user == user %}
        <form action="{% url 'remove-digimon' user.id digimon.id %}" method="post" class="subsection-content">
          {% csrf_token %} 
          <button type="submit" class="btn-remove">Remove Digimon</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  {% empty %}
  <h3>No Digimon have been added yet!</h3>
  {% endfor %}
</div>

{% endblock %}
