{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/digimon/digimon-index.css' %}" />
{% endblock %} {% block content %}

<h1>Digimon List</h1>

{% if user.digimon.count >= 6 %}
<div class="card-panel yellow lighten-4">
    <span class="black-text">You already have 6 Digimon on your digifarm! That's the maximum allowed.</span>
</div>
{% endif %}

<div class="row">
  {% for digimon in digimon %}
  <div class="card">
    <div class="card-image">
      <img src="{{ digimon.img }}" alt="{{ digimon.name }}" />
    </div>
    <div class="card-content">
      <span class="card-title">{{ digimon.name }}</span>
      <p>Level: {{ digimon.level }}</p>
      {% if digimon.happiness %}
      <p>Happiness: {{ digimon.happiness }}</p>
      {% endif %}
      <form
        action="{% url 'associate-digimon' user.id digimon.id %}"
        method="post"
        class="subsection-content"
        autocomplete="off"
      >
        {% csrf_token %} {{ feeding_form.as_p }}
        <button type="submit" class="btnsubmit">Add Digimon</button>
      </form>
    </div>
  </div>
  {% empty %}
  <h3>No Digimon have been added yet!</h3>
  {% endfor %}
</div>

<div class="pagination center-align">
    <ul class="pagination">
        {% if digimon.has_previous %}
            <li class="waves-effect"><a href="?page=1">&laquo; First</a></li>
            <li class="waves-effect"><a href="?page={{ digimon.previous_page_number }}">&lsaquo; Previous</a></li>
        {% endif %}

        <li class="active">
            <span>Page {{ digimon.number }} of {{ digimon.paginator.num_pages }}</span>
        </li>

        {% if digimon.has_next %}
            <li class="waves-effect"><a href="?page={{ digimon.next_page_number }}">Next &rsaquo;</a></li>
            <li class="waves-effect"><a href="?page={{ digimon.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
