{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="{% static 'images/logo.jpg' %}"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>DigiWorld</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">
          <img
            src="{% static 'images/logo.jpg' %}"
            alt="The DigiWorld logo"
            style="width: 50px; margin: 5px; border-radius: 6px; height: auto; left: 0;"
          />
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav>
          <ul class="menu">
            {% if user.is_authenticated %}
              <li><a href="{% url 'digimon-index' %}">All Digimon</a></li>
              <li><a href="{% url 'digifarm' user.id %}">DigiFarm</a></li>
              <li><a href="{% url 'toy-create' %}">Create a Power Up</a></li>
              <li><a href="{% url 'show-all-users' %}">View Our Community</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit">Log Out</button>
                </form>
              </li>
              <li>Welcome, {{ request.user.username }}</li>
            {% else %}
              <li><a href="{% url 'digimon-index' %}">All Digimon</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'home' %}">Log In</a></li>
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      
      <main>{% block content %} {% endblock %}</main>
    </div>
    <footer>
      <div class="footer-content">
        <p>&copy; {% now "Y" %} DigiWorld. All rights reserved.</p>
      </div>
    </footer>
    <script>
      // Get the hamburger and nav elements
      const hamburger = document.querySelector('.hamburger');
      const nav = document.querySelector('nav');
    
      // Add a click event listener to toggle the menu
      hamburger.addEventListener('click', () => {
        // Toggle the 'active' class on both the hamburger and the nav
        hamburger.classList.toggle('active');
        nav.classList.toggle('active');
      });
    </script>
    
  </body>
</html>
