.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.card {
  width: auto;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.card-title {
  color: darkblue;
  font-size: 2.5em;
  text-align: center;
  padding: 0 0 0 75px;
}

.btnsubmit {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  color: black;
  background-color: lightgreen;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  justify-content: center;
  margin: 0 0 0 50px;
}

.btnsubmit:hover {
  background-color: var(--button-bg-hover);
}
